[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pillow = "*"
djangorestframework = "*"
gunicorn = "~=20.0.4"
whitenoise = "~=5.2.0"
psycopg2-binary = "*"
dj-database-url = "*"
django-rest-auth = "*"
django-allauth = "*"

[dev-packages]

[requires]
python_version = "3.9"
