.App {
  text-align: center;
}

.container{
  border: 5px solid darkgray;
  background-color: lightpink;
  height: 100vh;
  box-shadow: 5px 5px 5px gray;
}

.headerbar{
  height: 200px;
  background-image: linear-gradient(firebrick, hotpink);
  box-shadow: 5px 5px 5px darkgray;
}
input {
  background: transparent;
  background-color: transparent !important;
  box-shadow: 3px 3px 3px gray;

}

/* input:-internal-autofill-selected {
  background: transparent !important;
  background-color: transparent !important;
  color: unset !important;

} */
