.App {
  text-align: center;
}

.container{
  border: 5px solid pink;
  background-image:linear-gradient( white, #fff0f5);
  box-shadow: 5px 5px 5px lightpink;
  border-radius: 10px;
  font-family: Trebuchet, Verdana, sans-serif;
  min-height: 100vh;
  padding-bottom: 50px;
}

.headerbar{
  height: 200px;
  background-image: linear-gradient(firebrick, hotpink);
  box-shadow: 5px 5px 5px lightpink;
  border-radius: 10px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  transform: translateY(-5px);
}
input {
  /* background: transparent;
  background-color: transparent !important; */
  box-shadow: 3px 3px 3px lightpink;

}
section.card{
  margin: 30px 50px 0px 50px;
  box-shadow: 10px 10px 10px lightpink;
  background-color: transparent;
  border-left: 2px solid pink;
  border-top: 2px solid pink;
  padding-left: 20px;
}
.navlinks a{
  font-size: x-large;
  color: lightpink;
  padding-right: 10px;
  text-shadow: 2px 2px 2px crimson;
}
.navlinks a:hover{
  text-decoration: none;
  color: crimson;
}

.navlinks{
  margin-left: 20px;
}
.card button{
  float: right;
  background-color: lightpink;
  color: crimson;
  text-shadow: 2px 2px 2px hotpink;
  box-shadow: 3px 3px 3px crimson;
}
h1{
  text-shadow: 2px 2px 2px darkgray;
}
.btn{
  width: 100px;
  background-color: lightpink;
  color: crimson;
  text-shadow: 2px 2px 2px hotpink;
  box-shadow: 3px 3px 3px crimson;
}
.profileBar{
  text-shadow: 2px 2px 2px lightpink;
  padding-top: 75px;
  text-align: center;
  background-image: linear-gradient(firebrick, hotpink);
  height: 100vh;
  box-shadow: 5px 5px 5px lightgray;
  border-radius: 5px;
}
.logo{
  position: absolute;
  transform:translateY(-10px);
  left: 80px;
  width: 600px;
}

.profileSubBar{
  padding-top: 150px;
  text-align: center;
}

.submitNewsButton{
  position: absolute;
  right: 10px;
  bottom: 10px;
}

.input-group{
  background-color: transparent;
}
.loginButton{
  transform:translateX(60px);
}
.logLine{
  color: white;
  position: absolute;
  top: 60px;
  text-shadow: 2px 2px 2px crimson;
}
.registerBar{
  text-align: center;
  padding-top: 150px;
}
