.App {
  text-align: center;
}

.container{
  border: 5px solid #FFDAB9;
  background-image:linear-gradient( white, #fff0f5);
  box-shadow: 5px 5px 5px #FFDAB9;
  border-radius: 10px;
  font-family: Trebuchet, Verdana, sans-serif;
  min-height: 100vh;
  padding-bottom: 50px;
}

.headerbar{
  height: 200px;
  background-image: linear-gradient(firebrick, hotpink);
  box-shadow: 5px 5px 5px #FFDAB9;
  border-radius: 10px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  transform: translateY(-5px);
}
input {
  background: transparent;
  background-color: transparent !important;
  box-shadow: 3px 3px 3px #FFDAB9;

}
section.card{
  margin: 30px 50px 0px 50px;
  box-shadow: 10px 10px 10px #FFDAB9;
  background-color: transparent;
  border-left: 2px solid #FFDAB9;
  border-top: 2px solid #FFDAB9;
  padding-left: 20px;
}
.navlinks a{
  font-size: x-large;
  color: lightpink;
  padding-right: 10px;
  text-shadow: 2px 2px 2px crimson;
}
.navlinks a:hover{
  text-decoration: none;
  color: crimson;
}

.navlinks{
  margin-left: 20px;
}
.card button{
  float: right;
  background-color: lightpink;
  color: crimson;
  text-shadow: 2px 2px 2px hotpink;
  box-shadow: 3px 3px 3px crimson;
}
h1{
  text-shadow: 2px 2px 2px darkgray;
}
.btn{
  width: 100px;
  background-color: lightpink;
  color: crimson;
  text-shadow: 2px 2px 2px hotpink;
  box-shadow: 3px 3px 3px crimson;
}
.profileBar{
  text-shadow: 2px 2px 2px lightpink;
  padding-top: 75px;
  text-align: center;
  background-image: linear-gradient(firebrick, hotpink);
  height: 100vh;
  box-shadow: 5px 5px 5px lightpink;
}
img {
  box-shadow: 5px 5px 5px lightpink;
}

.profileSubBar{
  padding-top: 75px;
  text-align: center;
}
